<script type="text/javascript">
    var config={
        urls:{
            domain:location.protocol+'//'+location.hostname+'/',
            resource:location.protocol+'//'+location.hostname+'/'
        },
        twitter_streams:[],
        flickr_photostreams:[],
        preloads:[],
        facebookAppId:'',
        googleAnalyticsID:'',
        addThisID:'',
        googleCSEId:'',
        googleCSEAutoCompletionId:''
    };
    window.___gcfg={
        lang:'en-US',
        parsetags:'explicit'
    };
    var _gaq=_gaq||[];
    _gaq.push(['_setAccount',config.googleAnalyticsID],['_trackPageview'],['_trackPageLoadTime']);
    var addthis_config={"data_track_clickback":true,pubid:config.addThisID};
</script>