<div id="Google_Page_CS_Box" class="googlecs-control">
    <form class="search_input" role="search" method="get" id="searchform" action="https://www.google.com/search">
        <input type="hidden" name="sitesearch" value="abhishekmunie.com"/>
        <input tabindex="0" type="text" value="" name="as_q" id="search_textbox" class="searchtext"/>
        <label for="searchsubmit" id="searchsubmitButton"><input type="submit" id="searchsubmit" value=""/></label>
    </form>
</div>
<div id="cse_Page_result"></div>